<%= form_for :assignment do |f| %>


<div class="row col-sm-6">
    <div class="form-group">
      <%= f.label 'Student Name' %>
      <%= collection_select(:student, :student_id, Student.all, :id, :name) %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Assignment Name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :score, 'Score' %>
      <%= f.text_field :score, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :total, 'Total Points Possible' %>
      <%= f.text_field :total, class: 'form-control' %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>