<h1>My Assignments</h1>
<table class="table">
  <thead>
    <tr>
      <th>Assignment Name</th>
      <th>Score</th>
      <th>Total</th>
      <th>Percentage</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
    <tr id="<%= dom_id(assignment) %>">
        <td><%= assignment.name %></td>
        <td><%= assignment.score %></td>
        <td><%= assignment.total %></td>
      <td><%= number_to_percentage(assignment.score.to_f / assignment.total, precision: 2) %></td>
      <td><%= link_to 'Delete', assignment_path(assignment), method: :delete %></td>
    <% end %>
  </tbody>
</table>



<%= link_to 'Return to Bueller', root_path %>