<div class="page-header">
  <h1>Students</h1>
  <%= form_tag search_path, method: :get do %>
  <%= label_tag(:search_date, "Date:") %>
  <%= date_field_tag(:search_date) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<h1>Present</h1>
<table class="seating-table">
  <tr>
    <%= render partial: 'seat', locals: {seat_number: 1} %>
    <%= render partial: 'seat', locals: {seat_number: 2} %>
  </tr>
  <tr>
    <%= render partial: 'seat', locals: {seat_number: 3} %>
    <%= render partial: 'seat', locals: {seat_number: 4} %>
  </tr>
   <tfoot>
     <tr>
       <td colspan=2>Front of classroom</td>
     </tr>
  </tfoot>
</table>

<div id="piechart" style="width: 900px; height: 500px;"></div>


<h1>Absent</h1>
<% @students.absent.each do |student| %>
  <div id="<%=dom_id(student)%>" class="list-item">
    <div class="avatar pull-left" style='background-image: url(<%= student.avatar %>)'></div>

    <div class="info-block">
      <h4><%= student.name %></h4>
      <p><em>(<%= student.nickname %>)</em></p>
      <p><%= student.email %></p>
    </div>
  </div>
<% end %>
<script>
  drawStudentChart(<%= Student.present.count %>, <%= Student.absent.count %>)
</script>
