<p id="notice"><%= notice %></p>

<p>
  <strong>Attended on:</strong>
  <%= @attendance.attended_on %>
</p>

<p>
  <strong>Student Name:</strong>
  <%= @attendance.name %>
</p>

<p>
  <strong>Seat number:</strong>
  <%= @attendance.attendance.seat_number %>
</p>



<%= link_to 'Return to Bueller', root_path %>