<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :seat_number %>
  </div>
  <br>
<table border-style="solid" border-width="5px" width="250px" padding="25px">
    <tr width="150px">
      <td align="center" bgcolor="#C0C0C0" width="150px">1</td>
      <td align="center" bgcolor="#C0C0C0" width="150px">2</td>
    </tr>
    <tr>
      <td align="center" bgcolor="#C0C0C0" width="150px">3</td>
      <td align="center" bgcolor="#C0C0C0" width="150px">4</td>
    </tr>
</table>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
