
<table class="table">
  <thead>
    <tr>
      <th>Attended on</th>
      <th>Seat number</th>
      <th>Student Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
        <tr id="<%= dom_id(attendance) %>">
        <td><%= attendance.attended_on %></td>
        <td><%= attendance.seat_number %></td> 
        <td><%= link_to attendance.student.name, student_attendances_path(attendance.student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Return to Bueller', students_path %>
